@CHARSET "ISO-8859-1";

.body
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 0.95em;
	background-color:#FFFFFF;
}
 
.last-modified
{
	border: 0px solid #ccc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 0.75em;
	background-color: #EeefFF;
	text-align:center;
	vertical-align:middle; 
	height:20px;              
}

.Bonus_Footer
{
	border: 0px solid #ccc;
	font-family:Courier New;
  	font-size: 0.90em;
	background-color: #EFFfFF;
  	text-align:center;
	font-weight:bold;
  	letter-spacing:0.1em; 
  	vertical-align:middle;
  	line-height:30px;  
  	height:30px;          
}

.Working_Area
{
	border:1px solid #bbb;
  	width:100%;
  	display:table;  
  	padding-left:0px;
  	padding-right:0px;  
  	padding-top:0px;
  	padding-bottom:0px;
  	background-color:#EFF3FF;
	right:0px;
	top:0px;	
	margin-top:0em;
  	margin-bottom:0em;
  	margin-right:0em;
  	margin-left:0em;
}

.Grid_Area
{
	border:1px solid #bbb;
  width:100%;
  display:table;
	background-color:#EFF3FF;
	/*
	right:0px;
	top:0px;
	*/
  	padding-left:0px;
  	padding-right:0px;  
  	padding-top:0px;
  	padding-bottom:0px;
	
  	margin-top:0.1em;
  	margin-bottom:0.1em;
  	margin-right:0.1em;
  	margin-left:0.1em;
	
}

.Pie_pagina
{
	border:1px solid #bbb;
	width:100%;
	display:table;  
	padding-left:1px;
	padding-right:1px;  
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EFF3FF;
	text-align:center;
}

.CssGridKey_Column
{
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial;
	font-size:8.5pt;
	color:black;
	text-align:center;
	vertical-align:middle;              
}

.CssGridNo_Key_Column
{
	font-family: Tahoma, Verdana, Arial;
	font-size:8.5pt;
	color:blue;
	vertical-align:middle;            
}

.CssGridTitle_Column
{
	background-color: black;
	font-family: Tahoma, Verdana, Arial;
	color:white;
	width:10px;  
	font-size:10pt;  
}

.CssGrid_Paginado
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;  
	text-align:Center;
	vertical-align:middle;
	font-weight: bold;
	height:25px; 
	background-color: #EeefeF;   
}

.CssGrid_Botones
{
	font-family:Tahoma, Verdana, Arial;
	border-width: 1;
	color: #00FF66;
	font-size: 9pt;
	font-weight: bold;	
}


#navi {  
	list-style:none;
	margin:0;
	padding:0;
}

#navi li {
	margin:2px;
	padding:0; 
	float:left;
}

#navi li a {
	display:block; 
	width:100px;
	padding:4px 0;
	text-decoration:none;
	text-align:center;
	font-size:11px;
	color:#FFFFFF;
	background-color:#000000;
}

#navi li a:hover {
	color:#99CC00;
	background-color:#003366;
}

.Titulo_Grid{
	margin:5px;
	padding:5px;
	font-size: 20px;
	font-family: Tahoma, Verdana, Curier New;
	text-align:center;  
	color: navy;
	vertical-align:middle;
	display:table;     
}

.Titulo_Promociones{
	margin:5px;
	padding:5px;
	font-size: 18px;
	font-family: Tahoma, Verdana, Curier New;
	text-align:center;  
	color: navy;
	vertical-align:middle;
	display:table;     
}

.Cabecera {
	border:1px solid #bbb;
	width:100%;
	display:table;  
	padding-left:1px;
	padding-right:1px;  
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EdF3FF;
	text-align:center;
	width: 100%;	
	height: 81px;	
	margin-left: auto;
	margin-right: auto;
}

h1 {
	left: 0px;
	top: 0px;
	font-size: 16px;
	font-family: Tahoma, Verdana, Arial;
	text-align:center;  	
}

h2 {
	left: 0px;
	top: 00px;
	font-size: 14px;
	font-family: Courier New;
	text-align:center;  	
}


.mainmenu 
{
	border:1px solid #bbb;
	padding-left:1px;
	padding-right:1px;  
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EdF3FF;
	/*position:relative;*/
	right:0px;
	top:0px;	
	font-size: 10px;
	font-family: Tahoma, Verdana, Arial;
	width:99%;
	height:100%;	
	text-align:rigth;
	float:left;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-right:0.5em;
	margin-left:0.5em;  	
	line-height:30px;
         
  /*width: calc(100%/3 - 2*1em - 2*1px);*/	
}

.MenuItem
{
  font-family:Verdana;
  width:250px;
  /*display:block;*/
  position:relative;
  z-index:1;
}

.page
{
  	text-align:rigth;
}

.TextBox_Texto
{
	font-size: 11px;
	font-family: Verdana; 
	height: 17px; 
	font-weight: bold;
	color:navy;
	vertical-align: middle;      
}

.Botones_Link
{
	left: 0px;
	top: 0px;
	font-size: 12px;
	font-family: Verdana;
	text-align:center;  	  
}

fieldset
{
	background-color: #EFF3FF;
	border: 1px solid #ccc;
}

legend
{
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
}

fieldset div
{
	margin: 0.5em;
}

.Label_Datos
{
	font-size: 10pt;
	background-image: url("green-icon.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	float: left;    
	padding-right: 0px;
	padding-top : 0px;
	padding-bottom: 0px;
	margin-right: 0.35em;
	text-align: left;
	width: 13em;    	
}


.LabelSimple
{
	font-size: 8.5pt;
	font-family:Tahoma, Verdana, Arial;
	background-image: url("green-icon.png");
	background-position: left center;
	background-repeat: no-repeat;	
	font-weight:bold;
	width: 13em; 	
	padding-left: 55px;
	padding-right: 15px;
	padding-top : 0px;
	padding-bottom: 0px;  
	float: left; 
	height: 23px;
	text-align: left;
	margin-right: 0.35em;
}

.convert-button
{
	display: block;
	border-top: 1px solid #ccc;
	margin-top: 1.7em;
	padding-left: 15.5em;
	padding-top: 0.5em;
}

.TButton
{
	background-color:#EFEFEF;
	color:Black;
	text-align : center;
	padding: 2px;
	font-family:Tahoma, Verdana, Arial;
	font-size:8pt;
	font-weight:bold;
	width:100px;
	height: 24px;		
}

.Validador_Error
{ 
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color:red;  	
}

.ComboBox_Texto
{
	font-size: 11px;
	font-family: Verdana; 
	height: 22px; 
	font-weight: bold;
	color:navy;  
	vertical-align: middle;            
}

.CajadeFecha
{
	font-family: Verdana; 
	vertical-align: middle;    
}

.Resultado
{
	height: 16px; 	
	color :black;
	font-family: Verdana; 
	font-weight: bold;
	font-size: 14px; 
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	float: left;    
	padding-right: 25px;
	padding-top : 5px;
	padding-bottom: 5px;
	padding-left: 25px;	
	margin-right: 0.35em;
	text-align: left;
   
}

.Login_Label 
{
	display:block;
}

.Login_Textbox 
{
	border: 1px solid #929292;
	width: 140px;
	vertical-align: middle;
	padding: 3px;
	margin: 2px 0 5px 0;
}

.Login_Button 
{
	display:block;
	margin-top:8px;
	margin-bottom:8px;
}

.Select_Fecha
{
	border:1px solid #bbb;
  width:98%;
  display:solid;
	background-color:#EFF3FF;
	/*
	right:0px;
	top:0px;
	*/
  	padding-left:2px;
  	padding-right:2px;  
  	padding-top:10px;
  	padding-bottom:10px;
	
  	margin-top:0.5em;
  	margin-bottom:0.5em;
  	margin-right:0.5em;
  	margin-left:0.5em;
	
}





























.qmmc .qmdivider
{
display:block ;
font-size:1px ;
border-width:0px ;
border-style:solid ;
position:relative ;
z-index:1 ;

}
.qmmc .qmdividery
{
float:left ;
width:0px ;

}
.qmmc .qmtitle
{
display:block ;
cursor:default ;
white-space:nowrap ;
position:relative ;
z-index:1 ;

}
.qmclear 
{
font-size:1px ;
height:0px ;
width:0px ;
clear:left ;
line-height:0px ;
display:block ;
float:none !important ;

}
.qmmc 
{
position:relative ;
zoom:1 ;
z-index:10 ;

}
.qmmc a, .qmmc li 
{
float:left ;
display:block ;
white-space:nowrap ;
position:relative ;
z-index:1 ;

}
.qmmc div a, .qmmc ul a, .qmmc ul li 
{
float:none ;

}
.qmsh div a 
{
float:left ;

}
.qmmc div
{
visibility:hidden ;
position:absolute ;

}
.qmmc .qmcbox
{
cursor:default ;
display:inline-block ;
position:relative ;
z-index:1 ;

}
.qmmc .qmcbox a
{
display:inline ;

}
.qmmc .qmcbox div
{
float:none ;
position:static ;
visibility:inherit ;
left:auto ;

}
.qmmc li 
{
z-index:auto ;

}
.qmmc ul 
{
left:-10000px ;
position:absolute ;
z-index:10 ;

}
.qmmc, .qmmc ul 
{
list-style:none ;
padding:0px ;
margin:0px ;

}
.qmmc li a 
{
float:none ;

}
.qmmc li:hover>ul
{
left:auto ;

}
#qm0 ul 
{
top:100% ;

}
#qm0 ul li:hover>ul
{
top:0px ;
left:100% ;

}




/*!!!!!!!!!!! QuickMenu Styles [Please Modify!] !!!!!!!!!!!*/


	/* QuickMenu 0 */

	/*"""""""" (MAIN) Container""""""""*/	
	#qm0	
	{	
		padding:3px 0px 3px 8px;
		background-color:#F4F4F4;
		border-width:1px;
		border-style:solid;
		border-color:#686868;
	}


	/*"""""""" (MAIN) Items""""""""*/	
	#qm0 a	
	{	
		padding:5px 30px 5px 8px;
		color:#112747;
		font-family:Tahoma;
		font-size:12px;
		text-decoration:none;
		text-align:left;
	}


	/*"""""""" (SUB) Container""""""""*/	
	#qm0 div, #qm0 ul	
	{	
		padding:10px 15px 15px 15px;
		margin:-4px 0px 0px -6px;
		background-color:transparent;
		border-style:none;
	}


	/*"""""""" (SUB) Items""""""""*/	
	#qm0 div a, #qm0 ul a	
	{	
		padding:3px 10px 3px 5px;
		margin:0px;
		background-color:transparent;
		font-size:12px;
		border-width:0px;
		border-style:none;
	}


	/*"""""""" (SUB) Hover State""""""""*/	
	#qm0 div a:hover	
	{	
		background-color:#686868;
		color:#F4F4F4;
	}


	/*"""""""" (SUB) Hover State - (duplicated for pure CSS)""""""""*/	
	#qm0 ul li:hover>a	
	{	
		background-color:#686868;
		color:#F4F4F4;
	}


	/*"""""""" (SUB) Active State""""""""*/	
	body #qm0 div .qmactive, body #qm0 div .qmactive:hover	
	{	
		background-color:#686868;
		color:#F4F4F4;
	}


	/*"""""""" Individual Titles""""""""*/	
	#qm0 .qmtitle	
	{	
		padding:2px 0px 2px 5px;
		margin:10px -4px 5px -4px;
		background-color:#AFC8EC;
		color:#112747;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		border-width:1px;
		border-style:solid;
		border-color:#686868;
	}


	/*"""""""" (main) Rounded Items""""""""*/	
	#qm0 .qmritem span	
	{	
		border-color:#686868;
		background-color:#DFDFDF;
	}


	/*"""""""" (main) Rounded Items Content""""""""*/	
	#qm0 .qmritemcontent	
	{	
		padding:1px 0px 0px 7px;
	}


	/*"""""""" (sub) Rounded Items""""""""*/	
	#qm0 div .qmritem span	
	{	
		border-color:#686868;
		background-color:#F4F4F4;
	}


	/*"""""""" (sub) Rounded Items Content""""""""*/	
	#qm0 div .qmritemcontent	
	{	
		padding:0px 0px 0px 4px;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul	
	{	
		margin:0px;
		background-color:#DFDFDF;
		border-width:1px;
		border-style:solid;
		border-color:#686868;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul li:hover > a	
	{	
		background-color:#686868;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul li:hover > a.qmparent	
	{	
		background-image:url(file:///C:/Archivos%20de%20programa/OpenCube/Visual%20CSS%20QuickMenu/chrome/content/qmimages/arrow_5.gif);
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul li .qmparent	
	{	
		background-image:url(file:///C:/Archivos%20de%20programa/OpenCube/Visual%20CSS%20QuickMenu/chrome/content/qmimages/arrow_4.gif);
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 li:hover > a	
	{	
		background-color:#DFDFDF;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 li .qmparent	
	{	
		background-image:url(file:///C:/Archivos%20de%20programa/OpenCube/Visual%20CSS%20QuickMenu/chrome/content/qmimages/arrow_6.gif);
		background-repeat:no-repeat;
		background-position:92% 50%;
	}
	/*[END-QS0]*/



.qmfv
{
  visibility:visible !important;
}

.qmfh
{
  visibility:hidden !important;
}

